html, body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
}


header{
	text-align: center
	font-size: 30px;
}

header img{
	border-radius: 800px;


}




p{
	font-size: 12px;
}
.content{
	max-width: 900px;
	padding: 0 20px;
	text-align: left;
}

a{
	color: black;
	text-decoration: none;
}


/*<header>
		<img src="img/profile.jpg">
		<h1>Hi there, I'm Paige.</h1>
	</header>